<ion-header>
  <ion-navbar>
    <ion-title>Участник</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
   <!-- <img src="assets/img/logo/{{participant.logo}}"/>-->
    <ion-card-header text-wrap>
      <p>{{participant.name_rus}}</p>
    </ion-card-header>
    <ion-card-content>
      <p text-wrap>
        {{participant.desc_rus}}
      </p>
      <p>Место: {{participant.place}}</p>
      <p>Тел: {{participant.phone}}</p>
      <p>e-mail: {{participant.email}}</p>
      <p>www: <a href="{{participant.www}}">{{participant.www}}</a></p>
    </ion-card-content>

    <ion-list>
      <ion-list-header color="danger">
        Тематика:
      </ion-list-header>
      <ion-item *ngFor="let thematicItem of thematic" text-wrap>
        <ion-icon name="information-circle" item-left></ion-icon>
        <h4>{{thematicItem.name_rus}}</h4>

      </ion-item>
    </ion-list>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="showLeafLetMap(participant)">
          <ion-icon name='map'></ion-icon>
          На карте
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon item-left *ngIf="myForum" name="star" color="danger" (click)="deleteFromMyForum(myForum)"></ion-icon>
          <ion-icon item-left *ngIf="!myForum" name="star-outline" (click)="addToMyForumSite(participant.id)"></ion-icon>
          Мой форум
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
